﻿@model ICollection<ModaMiguelao.Presentation.Models.ImagemViewModel>
@{
    ViewBag.Title = "Cadastrar Camiseta";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Home", "Index", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Seleciona a imagem</h4>
    <hr />

    @{
        <div class="img-list">
            foreach (var imagem in model)
            {
            <img src="@imagem.Url" />
            }
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Cancelar" />

            <input type="submit" class="btn btn-primary" value="OK" />
        </div>
    </div>
}